            <!--  views/partials/footer.ejs starts here  -->
        </div>
    </div>
  </div>
  
  <footer class="container-fluid text-center">
    <p>This simple bootstrap template comes from the following: <a href="https://www.w3schools.com/bootstrap/bootstrap_templates.asp">https://www.w3schools.com/bootstrap/bootstrap_templates.asp</a></p>
  </footer>
  
  </body>
  </html>
